# Movies Tonight Part 2: SQL DDL

In [29]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does

In [30]:
%%sql
sqlite:///Movies.db
DROP TABLE IF EXISTS MOVIES;
DROP TABLE IF EXISTS THEATERS;
DROP TABLE IF EXISTS ARTISTS;
DROP TABLE IF EXISTS SHOWS;
DROP TABLE IF EXISTS CREDITS;

Done.
Done.
Done.
Done.
Done.

[]

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [31]:
%%sql
CREATE TABLE MOVIES (
    MID INTEGER PRIMARY KEY,
    MTitle TEXT NOT NULL,
    Rating TEXT
);

 * sqlite:///Movies.db
Done.

[]

In [32]:
%%sql
CREATE TABLE THEATERS (
    TID INTEGER PRIMARY KEY,
    TName TEXT NOT NULL,
    Phone TEXT,
    Location TEXT NOT NULL 
);

 * sqlite:///Movies.db
Done.

[]

In [33]:
%%sql
CREATE TABLE ARTISTS ( 
    AID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///Movies.db
Done.

[]

In [34]:
%%sql
CREATE TABLE SHOWS (
    SID INTEGER PRIMARY KEY,
    MID INTEGER NOT NULL,
    TID INTEGER NOT NULL,
    STime TEXT NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIES (MID)
    FOREIGN KEY (TID) REFERENCES THEATERS (TID)
);

 * sqlite:///Movies.db
Done.

[]

In [35]:
%%sql
CREATE TABLE CREDITS (
    CID INTEGER PRIMARY KEY,
    CCode TEXT NOT NULL,
    AID INTEGER NOT NULL,
    MID INTEGER NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIES (MID),
    FOREIGN KEY (AID) REFERENCES ARTISTS (AID)
);

 * sqlite:///Movies.db
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

 * sqlite:///Movies.db
(sqlite3.OperationalError) no such column: MTitle [SQL: 'INSERT INTO MOVIES (MTitle, Rating)\nSELECT DISTINCT MTitle, Rating\nFROM DATASET;'] (Background on this error at: http://sqlalche.me/e/e3q8)

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".